[services.baserow-app]
[services.baserow-app.build]
builder = "DOCKERFILE"
[services.baserow-app.deploy]
healthcheckPath = "/api/_health/"
healthcheckTimeout = 300
restartPolicyType = "ALWAYS"
[services.baserow-app.env]
BASEROW_PUBLIC_URL = "${{RAILWAY_PUBLIC_DOMAIN}}"
SECRET_KEY = "${{secret(64)}}"
DATABASE_URL = "${{services.postgres.DATABASE_URL}}"
REDIS_URL = "${{services.redis.REDIS_URL}}"
DISABLE_VOLUME_CHECK = "yes"

[services.postgres]
[services.postgres.env]
POSTGRES_DB = "baserow"
POSTGRES_USER = "baserow"
POSTGRES_PASSWORD = "${{secret(32)}}"

[services.redis]
[services.redis.env]
REDIS_PASSWORD = "${{secret(32)}}"