[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/_health/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[variables]
BASEROW_PUBLIC_URL = "${{RAILWAY_PUBLIC_DOMAIN}}"
SECRET_KEY = "${{secret(64)}}"
POSTGRES_PASSWORD = "${{secret(32)}}"
REDIS_PASSWORD = "${{secret(32)}}"