[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/_health/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[services]
[services.env]
BASEROW_PUBLIC_URL = "${{RAILWAY_PUBLIC_DOMAIN}}"
SECRET_KEY = "${{secret(64)}}"

[services.postgres]
[services.postgres.env]
POSTGRES_DB = "baserow"
POSTGRES_USER = "baserow"
POSTGRES_PASSWORD = "${{secret(32)}}"

[services.redis]
[services.redis.env]
REDIS_PASSWORD = "${{secret(32)}}"