[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/_health/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "/baserow.sh start"

[services.baserow-app]
source = "Dockerfile"
[services.baserow-app.env]
BASEROW_PUBLIC_URL = "${{RAILWAY_PUBLIC_DOMAIN}}"
SECRET_KEY = "${{secret(64)}}"
DATABASE_URL = "${{services.postgres.DATABASE_URL}}"
REDIS_URL = "${{services.redis.REDIS_URL}}"

[services.postgres]
[services.postgres.env]
POSTGRES_DB = "baserow"
POSTGRES_USER = "baserow"
POSTGRES_PASSWORD = "${{secret(32)}}"

[services.redis]
[services.redis.env]
REDIS_PASSWORD = "${{secret(32)}}"