[services.baserow-app]
source = "DockerImage"
dockerImage = "baserow/baserow:2.0.3"
[services.baserow-app.deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/_health/"
healthcheckTimeout = 100
[services.baserow-app.ports]
port = 80
type = "HTTP"
[services.baserow-app.env]
BASEROW_PUBLIC_URL = "${{RAILWAY_PUBLIC_DOMAIN}}"
SECRET_KEY = "${{secret(64)}}"
DATABASE_URL = "${{services.postgres.DATABASE_URL}}"
REDIS_URL = "redis://:${{services.redis.PASSWORD}}@${{services.redis.RAILWAY_PRIVATE_DOMAIN}}:6379/0"
DISABLE_VOLUME_CHECK = "yes"

[services.postgres]
[services.postgres.env]
POSTGRES_DB = "baserow"
POSTGRES_USER = "baserow"
POSTGRES_PASSWORD = "${{secret(32)}}"

[services.redis]
[services.redis.env]
REDIS_PASSWORD = "${{secret(32)}}"